<!DOCTYPE html>
<html>
  <head>
    <title>TeaShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <header class="d-flex justify-content-sm-end py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><span class="nav-link"><%= link_to "Home", home_path %></span></li>
          <li class="nav-item"><span class="nav-link"><%= link_to "About", about_path %></span></li>
          <li class="nav-item"><span class="nav-link"><%= link_to "Add product", new_product_path %></span></li>
        </ul>
      </header>
    </div>
    <div class="container d-flex justify-content-center flex-column align-items-center">
      <%= yield %>
    </div>
  </body>
</html>
